@font-face {
    font-family: 'sisterhood';
    src: url('Files\Sisterhood.ttf') format('truetype');
  }
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.asset1{
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}
.asset2{
    width: 18%;
    position: absolute;
    right: 0;
    top: 0;
}
header{width: 95%;
    height: 75vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3%;
}
.logo{
    width: 45%;
    height: auto;
    padding-left: 10%;
}
.topname{
    font-family: 'Exo 2', sans-serif;
    color: #336798;
    font-size:45px;
    padding-bottom: 1.5%;
    border-bottom: #00CBFE solid 4px;
    text-align: center;
}
.headername{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    width: 12%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.body{
    background-color: #336798;
    border-radius:10px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.tiles{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: #00CBFE solid 3px;
    margin-bottom: 2%;
    border-radius: 10px;
}
.tile1,
.tile2,
.tile3{
    width: 31%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    transition: ease, transform 0.3s ease;
}
.tile1:hover,
.tile2:hover,
.tile3:hover{
    opacity:0.85 ;
    transform: scale(1.01);
}
.tileimage{
    width:100%;
    height:auto;
    border-radius: 10px;
    border: #00CBFE solid 0.1px;
    box-shadow: 0 5px 5px rgba(17,71, 144, 0.2)
}
.flytext{
    text-align: center;
    font-family: sisterhood;
    margin-top: 1%;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 3.5rem;
}
.featured{
    font-family: sisterhood;
    margin-top: 1%;
    margin-bottom: 2%;
    color:#336798;
    font-size: 3rem;
    text-align: center;
}
.logo-grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    justify-items: center;
}
.logo_container{
    background-color: #e1f0ff;;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.algo{
    width:100%;
}
footer{
    margin-top: 2%;
}
.footerlogo{
    width: 45%;
    height: auto;
    padding-left: 10%;
}
