body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.asset1{
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}
.asset2{
    width: 18%;
    position: absolute;
    right: 0;
    top: 0;
}
header{width: 95%;
    height: 37vw;
    min-height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4%;
}
.logo{
    width: 45%;
    height: auto;
    padding-left: 10%;
}
.topname{
    font-family: 'Exo 2', sans-serif;
    color: #336798;
    font-size:3vw;
    padding-bottom: 1.5%;
    border-bottom: #00CBFE solid 0.3vw;
    text-align: center;
}
.headername{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    width: 11%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact a{
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact_logo{
    width: 80%;
    transition: ease, transform 0.3s ease;
}
.contact_logo:hover {
    transform: scale(1.1);
}
.body{
    background-color: #336798;
    border-radius:10px;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles{
    width: 94%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    column-gap: 1.5%;
    border: #00CBFE solid 0.25vw;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 1%;
}
.tileimage{
    width:100%;
    height:auto;
    border-radius: 10px;
    border: #00CBFE solid 0.1vw;
    box-shadow: 0 5px 5px rgba(17,71, 144, 0.2);
    transition: ease, transform 0.3s ease;
}
.tileimage:hover{
    opacity:0.85 ;
    transform: scale(1.014);
}
.flytext{
    text-align: center;
    font-family: 'Bilbo Swash Caps', cursive;
    margin-top: 1%;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 4vw;
}
.featured{
    margin-top: 1.8%;
    font-family: 'Bilbo Swash Caps', cursive;
    margin-bottom: 0.8%;
    color:#336798;
    font-size: 4.5vw;
    text-align: center;
}
.logo-grid {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2%;
    row-gap: 7%;
    margin-bottom: 5%;
    justify-items: center;
}
.logo_container{
    background-color: #e1f0ff;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease, transform 0.3s ease;
}
.logo_container:hover{
    transform: scale(1.04);
}
.algo{
    width:100%;
}
#last{
    display: none;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 10px;
    border: #336798 solid 0.25vw;
    margin-bottom: 1%;
}
.form p{
    font-family: 'Exo 2', sans-serif;
    color: #336798;
    font-size: 2vw;
    margin: 0%;
    width: 70%;
    text-align: center;
}
.form a{
    height: 4.5vw;
    width: 30%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.form button{
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: #00CBFE;
    border: none;
    border-left: #336798 solid 0.25vw;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.form button:hover{
    background-color: #336798;
    color: aliceblue;
}
footer{
    width: 100%;
    margin-top: 2%;
    background-color: #336798;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: aliceblue;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vw;
}
footer p:first-child{
    font-size: 3vw;
    margin-top: 1%;
    margin-bottom: 0%;
}
footer p:nth-child(2){
    font-size: 2vw;
    margin-top: 0.5%;
}
.footer_contact{
    width: 12%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}
.footer_contact a{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: ease, transform 0.3s ease;
}
.footer_contact a:hover {
    transform: scale(1.1);
}
@media(max-width : 535px) {
    .asset1{
        width: 30%;
    }
    .asset2{
        width: 21%;
    }
    .headername{
        width: 75%;
    }
    .topname{
        font-size:5vw;
        border-bottom: #00CBFE solid 0.5vw;
    }
    .contact{
        width: 20%;
    }
    .tiles{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        row-gap: 2%;
        column-gap: 3%;
        padding: 2%;
        padding-bottom: 4.5%;
    }
    .flytext{
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        font-size: 7vw;
    }
    .featured{
        margin-top: 3.5%;
        margin-bottom: 2.5%;
        font-size: 8.5vw;
    }
    .logo-grid{
        grid-template-columns: repeat(3,1fr);
        column-gap: 2%;
        row-gap: 5%;
        margin-bottom: 10%;
        justify-items: center;
    }
    #last{
        display:flex;
    }
    .form{
        width: 75%;
        border: #336798 solid 0.5vw;
        border-radius: 5px;
    }
    .form a{
        border-left: #336798 solid 0.5vw;
    }
    .form p,
    .form button{
        font-size: 2.5vw;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    footer p:first-child{
        font-size: 4.5vw;
        margin-top: 2%;
    }
    footer p:nth-child(2){
        font-size: 3vw;
        margin-top: 1.2%;
    }
    .footer_contact{
        margin-bottom: 4vw;
    }
}