@font-face {
    font-family: 'sisterhood';
    src: url('Files\Sisterhood.ttf') format('truetype');
  }
body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.asset1{
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}
.asset2{
    width: 18%;
    position: absolute;
    right: 0;
    top: 0;
}
header{width: 95%;
    height: 75vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3%;
}
.logo{
    width: 45%;
    height: auto;
    padding-left: 10%;
}
.topname{
    font-family: 'Exo 2', sans-serif;
    color: #336798;
    font-size:3vw;
    padding-bottom: 1.5%;
    border-bottom: #00CBFE solid 4px;
    text-align: center;
}
.headername{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    width: 11%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact a{
    transition: ease, transform 0.3s ease;
}
.contact a:hover {
    transform: scale(1.1);
}
.body{
    background-color: #336798;
    border-radius:10px;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles{
    width: 94%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    row-gap: 5%;
    column-gap: 1.5%;
    border: #00CBFE solid 3px;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 1%;
}
.tileimage{
    width:100%;
    height:auto;
    border-radius: 10px;
    border: #00CBFE solid 0.1px;
    box-shadow: 0 5px 5px rgba(17,71, 144, 0.2);
    transition: ease, transform 0.3s ease;
}
.tileimage:hover{
    opacity:0.85 ;
    transform: scale(1.014);
}
.flytext{
    text-align: center;
    font-family: sisterhood;
    margin-top: 1%;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 3.5vw;
}
.featured{
    margin-top: 1.5%;
    font-family: sisterhood;
    margin-bottom: 2%;
    color:#336798;
    font-size: 3.5vw;
    text-align: center;
}
.logo-grid {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2%;
    row-gap: 7%;
    margin-bottom: 5%;
    justify-items: center;
}
.logo_container{
    background-color: #e1f0ff;;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease, transform 0.3s ease;
}
.logo_container:hover{
    transform: scale(1.04);
}
.algo{
    width:100%;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 10px;
    border: #336798 solid 2.5px;
    margin-bottom: 1%;
}
.form p{
    font-family: 'Exo 2', sans-serif;
    color: #336798;
    font-size: 2vw;
    margin: 0%;
    width: 70%;
    text-align: center;
}
.form a{
    height: 4.5vw;
    width: 30%;
    display: flex;
    flex-direction: row;
}
.form button{
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: #00CBFE;
    border: none;
    border-left: #336798 solid 2.5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: ease, transform 0.3s ease;
}
.form button:hover{
    background-color: #336798;
    color: aliceblue;
}
footer{
    width: 100%;
    margin-top: 2%;
    background-color: #336798;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: aliceblue;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vw;
}
footer p:first-child{
    font-size: 3vw;
    margin-top: 1%;
    margin-bottom: 0%;
}
footer p:nth-child(2){
    margin-top: 0.5%;
}
.footer_contact{
    width: 9%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}
.footer_contact a{
    transition: ease, transform 0.3s ease;
}
.footer_contact a:hover {
    transform: scale(1.1);
}
